@import 'Layouts/main-layout.scss';
@import 'Components/button/button.scss';
@import 'Components/checkbox/checkbox.scss';
@import "Components/basket-icon/basket-icon.scss";

body {
  background-color: $page-background-color;
}

.page__main {
  margin-top: 24px;
}

.component {
  margin-top: rem(40);
  border: 2px dotted #ccc;
  border-radius: 24px;
  padding: 24px;
  width: 100%;


  &__inner {
    display: flex;
    align-items: flex-start;
    column-gap: 24px;
    row-gap: 24px;

    @include smartphone {
      flex-direction: column;
    }
  }

  h2 {
    margin-bottom: rem(24);
  }
}
