@import 'Styles/_functions.scss';

button, .button {
  border-radius: $buttons-radius;
  transition: box-shadow ease-in-out $button-hover-shadow-off;

  &__icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 18px;
    height: 18px;

    svg {
      width: 18px;
      height: 18px;
    }
  }

  &__inner {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    column-gap: rem(8);

    span {
      margin-top: rem(5.5);
    }
  }

  &_primary {
    background: $primary-button-gradient;

    span {
      color: $white;
    }
  }

  &_secondary {
    background: $secondary-button-background-color;

    span {
      color: $black;
    }
  }

  &_big {
    padding: rem(18);
  }

  &_small {
    padding: rem(10);
  }

  @media (hover: hover) {
    &_primary {
      &:hover {
        box-shadow: $primary-button-hover-shadow;
        transition: box-shadow ease-in-out $button-hover-shadow-on;
      }
    }
    &_secondary {
      &:hover {
        box-shadow: $secondary-button-hover-shadow;
      }
    }

  }
}
